/*-- scss:defaults --*/
$theme: "darkly" !default;

// Base document colors
$body-bg: #222 !default;
$body-color: SeaShell !default;
//$btn-border-width: 0px !default;
$btn-close-color: #3366ff !default;

$heading-1: #E0E0E0;
$heading-2: #2eb8b8;
$heading-3: #99cc00;
$heading-4: #FFB6C1;
$heading-5: #DDA0DD;

$link-unvisited: #4CAF50;
$link-visited: Salmon;
$link-hover: #FF9800;

$box-shadow-sm: 0 .125rem .25rem rgba(black, .075);


/*-- scss:ids --*/

#toc-title {
  color: $heading-1 !important;
}

#TOC > ul > li > a {
  color: $heading-2 !important; /* First sub-level */
}

#TOC > ul > li > ul > li > a {
  color: $heading-3 !important; /* Second sub-level */
}

#TOC > ul > li > ul > li > ul > li > a {
  color: $heading-4 !important; /* Third sub-level */
}

//#eda > .

/*-- scss:classes --*/

.flex-container {
  //display: flex;
  //align-items: center;
  //justify-content: center;
}

.plot-container {
 

}

.table-container {
  display: flex;
  justify-content: center;
  overflow-y: auto; 
  //margin: 0px;
  //margin-top: 5rem;
  //margin-bottom: 5rem;
  max-height: 50vh;

}


.table-container table {
//  width: 100%;
//  height: 100%;
}

.gt_table {
  //width: 100%;
  //height: 100%;
  //display: flex;
  //font-size: 13px !important;
  //margin: 0 !important;

}

.table-caption > figcaption {
 // margin-left: 0 !important;
//  margin-right: 0 !important;
}

.quarto-float-tbl > figcaption {
  //font-size: 0.7rem !important;
  text-align: left !important;
}

.quarto-float-fig > figcaption {
  //font-size: 0.7rem !important;
  text-align: left !important;
}


.gt_sourcenote > code {
  background-color: rgba(25,25,25,0.5) !important;
  color: SeaShell !important;
}

.gt_footnote > code {
  background-color: rgba(25,25,25,0.5) !important;
  color: SeaShell !important;
}

.btn-group {
  margin-bottom: 2rem !important;
}

.gt_footnote, .gt_sourcenote {
  text-align: left !important;
}

/* Custom styles for Quarto tab sets */
.panel-tabset {
  box-shadow: $box-shadow-sm !important;
  .nav-tabs {
    .nav-link {
        color: #6c757d !important;
        &:hover {
          color: #495057 !important;
          }  
      &.active {
        color: #ff6666 !important;
      }
    }
  }
}


.callout {
  background-color: rgba(0,0,0,.05) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19) !important;
}

.btn {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.75), 0 3px 6px 0 rgba(0, 0, 0, 0.55) !important;
}

.h* {
    text-shadow: 4px 4px black !important;
}

.h1, h1 {
  color: $heading-1 !important;
}

.h2, h2 {
  color: $heading-2 !important;
}

.h3, h3 {
  color: $heading-3 !important;
}

h4, .h4 {
  color: $heading-4 !important;
}

a {
  color: #FE2712 !important;
}

.fs-3 {
  color: #E1BEE7 !important;
}


.tableScroller {
    max-height: 60vh;
    overflow-y: auto;
    //max-width: auto !important;
}


// This allows the epiflow diagram to have white text.
// I'm not sure how else to accomplish this.
canvas {
    filter: invert(100%) !important;
}

.divBox {
    width: 1% !important;
    height: auto !important;
    border-radius: 0px !important;
    background-color: grey !important;
    opacity: .25 !important;
    margin: 2% !important;
} 


.dropdown {
    color: white !important;
}

.vis-tooltip {
    color: black !important;
    background-color: white !important;
}

.vis-network {
    color: black !important;
    background-color: transparent !important;
}


h1.title {
    color: Ivory !important;
    text-transform: uppercase !important;
}


i {
    filter: drop-shadow(10px 10px 10px black) !important;
    font-size: 1.25em !important;
}


.offcanvas {
    background-color: rgba(0,0,0,.5) !important;
}

.offcanvas-body {
    background-color: transparent !important;
    margin: .1em !important;
    padding: .1em !important;
}

.offcanvas-title {
    font-size: 1.4em !important;
    margin-top: .3em !important;
    color: #E56A87 !important;
}

.offcanvas-header {
    padding: 1rem !important;
    font-size: 1.4em !important;
    margin-top: .75em !important;
    color: #E56A87 !important;
}

.btn-close {
    position: absolute !important;
    top: .1em !important;
    right: .1em !important;
    font-size: .75em !important;
    margin-left: 50px !important;
    padding: 1em !important;
    btn-close-color: #3366ff !important;
}


pre code {
    color: Orange !important;
    background-color: transparent !important;
}


.btn > p {
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
}


.code-fold {
    background-color: transparent !important;
}

.sourceCode {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    background-color: transparent !important; //rgba(0,0,5,.25)
    border: none !important;

}

.R, .r {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.cell-code, .cell {
    background-color: transparent !important;
    padding: .50em !important;
}

::marker {
    color: rgb(0, 188, 140) !important;
    font-synthesis-weight: bold !important;
}

details>summary {
    color: #efc776 !important;
    font: 1.1em "Cascadia Mono SemiLight" !important;
    background-color: transparent !important;
    //max-width: 35vw !important;
}


.flex-code {
    overflow-y: auto !important;
    align-self: center !important;
    max-height: 70vh !important; 
    max-width: 90vw !important;
    overflow-x: hidden !important;
    scrollbar-width: thin !important;
    scrollbar-color: #33ccff transparent !important;
    background-color: transparent !important;
    margin-bottom: 0.5rem !important;
    margin-top: 0.5rem !important;
}

/*-- scss:selectors --*/

// Helpful link styling for most related use-cases
a {
  &:link {
    color: $link-unvisited;
    text-decoration: none;
  }
  &:visited {
    color: $link-visited;
  }
  &:hover, &:focus {
    color: $link-hover;
    text-decoration: underline;
  }
  &:active {
    color: $link-hover;
  }
}

/*-- scss:roots --*/
:root {
}
