/*-- scss:defaults --*/
$theme: "darkly" !default;

// Base document colors
$body-bg: #222 !default; //212529 181818
$body-color: SeaShell !default;
$link-color: #FCCB1A !default;
$btn-border-width: 0px !default;
//$background-color: #212529 !default;
//$color-bg: #212529 !default;
$headings-color: #FC7307 !default;
//$nav-tabs-link-active-bg: rgb(210, 45, 45) !default;
//$nav-link-hover-color: rgba(255, 26, 26) !default;
$btn-close-color: #3366ff !default;

.plotExpander{
    min-width: 60vw !important;
}

.leaflet{
   // filter: invert(100%) !important;
}

.tableScroller {
    max-height: 70vh !important;
    overflow-y: auto !important;
}

canvas {
    filter: invert(100%) !important;
}

.divBox {
    width: 1% !important;
    height: auto !important;
    border-radius: 0px !important;
    background-color: grey !important;
    opacity: .25 !important;
    margin: 2% !important;
} 

p, .p {
   max-width: 45vw !important;
}

.dropdown {
    color: white !important;
}

.vis-tooltip {
    color: black !important;
    background-color: white !important;
}

.vis-network {
    color: black !important;
    background-color: transparent !important;
}



h1.title {
    color: Ivory !important;
    text-transform: uppercase !important;
}

h1, .h1 {    
    text-shadow: 3px 3px black !important;
}

i {
    filter: drop-shadow(10px 10px 10px black) !important;
    font-size: 1.25em !important;
}

.flex-row-tainer {
    display: flex;
    justify-content: center;
}


.panel-tabset, .nav-tabs {
//    background-color: transparent !important; //transparent !important;
 //   color: $body-color !important;
  //  box-shadow: none !important;

}

.h2, h2 {
    color: FloralWhite !important;
    text-shadow: 4px 4px black !important;
    align-self: start !important;
    max-width: 40vw !important;
}

.offcanvas {
    background-color: rgba(0,0,0,.5) !important;
}

.offcanvas-body {
    background-color: transparent !important;
    margin: .1em !important;
    padding: .1em !important;
}

.offcanvas-title {
    font-size: 1.4em !important;
    margin-top: .3em !important;
    color: #E56A87 !important;
}

.offcanvas-header {
    padding: 1rem !important;
    font-size: 1.4em !important;
    margin-top: .75em !important;
    color: #E56A87 !important;
}

.btn-close {
    position: absolute !important;
    top: .1em !important;
    right: .1em !important;
    font-size: .75em !important;
    margin-left: 50px !important;
    padding: 1em !important;
    btn-close-color: #3366ff !important;
}


pre code {
    color: Orange !important;
    background-color: transparent !important; //rgba(10,0,0,.5)
}


.btn, .btn-secondary {
    box-shadow: none !important;
    background-color: $body-bg !important;
    color: rgba(255, 255, 255, 0.75) !important;
    margin: 0 !important;
    border: none !important;
    --bs-btn-disabled-opacity: 0.35 !important;
    
}


.btn-group {
    background-color: $body-bg !important;
    border: none !important;
    color: rgba(255, 255, 255, 0.75);
    box-shadow: none !important;
}



.code-fold {
    background-color: transparent !important;
}

.sourceCode {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    background-color: transparent !important; //rgba(0,0,5,.25)
    border: none !important;

}

.R, .r {
    background-color: transparent !important; //rgba(0,0,5,.25)
    border: none !important;
    box-shadow: none !important;
}



.cell-code, .cell {
    background-color: transparent !important;
    padding: .50em !important;
}

::marker {
    color: rgb(0, 188, 140) !important; // #ffd108
    font-synthesis-weight: bold !important;
}

details>summary {
    color: Linen !important; //#8A2BE2 // #6D9224
    font: 1em "Cascadia Mono SemiLight" !important;
    background-color: transparent !important;
    //text-shadow: 0px 0px 1px #00cc00 !important;
    max-width: 25vw !important;
    //margin-left: 10% !important;
    //color: rgb(52, 152, 219) !important;
}


.flex-code {
    overflow-y: auto !important;
    align-self: center !important;
    max-height: 70vh !important; 
    max-width: 90vw !important;
    overflow-x: hidden !important;
    scrollbar-width: thin !important;
    scrollbar-color: #33ccff transparent !important;
    background-color: transparent !important;
}

.codeDisplayer {
    overflow-y: auto !important;
    scrollbar-width: thin !important;
    scrollbar-color: #33ccff transparent !important;
    background-color: transparent !important;
    max-height: 70vh !important;
    overflow-x: hidden !important;
    align-self: center !important;
    margin-left: 10% !important;
    max-width: auto !important;
}