/*-- scss:defaults --*/
$theme: "morph" !default;

// Base document colors
$body-bg: #212529 !default; //212529 181818
$body-color: white !default;
$link-color: #FCCB1A !default;
$btn-border-width: 0px;
$background-color: #212529 !default;
$color-bg: #212529 !default;
$headings-color: #FC7307 !default;
$nav-tabs-link-active-bg: rgba(77, 0, 0, .5) !default;
$nav-link-hover-color: rgba(255, 26, 26) !default;
$btn-close-color: #3366ff !default;


.flex-row-tainer {
    display: flex;
    justify-content: center;
}

.nav-item {
    border: none !important;
    box-shadow: none !important;
}

.panel-tabset, .nav-tabs {
    background-color: rgba(5,0,0,.2) !important; //transparent !important;
    color: $body-color !important;

}

.h2, h2 {
    color: #F28736 !important;
}

.offcanvas{
    background-color: rgba(0,0,0,.5) !important;
}

.offcanvas-body {
    background-color: transparent !important;
    margin: .1em !important;
    padding: .1em !important;
}

.offcanvas-title {
    font-size: 1.5em !important;
    margin-top: .5em !important;
    color: #E56A87 !important;
}

#offcanvasLabel, .offcanvas-header {
    padding: 1rem !important;
    font-size: 2em !important;
    margin-top: 1em !important;
    color: #E56A87 !important;
}

.btn-close {
    position: absolute !important;
    top: .1em !important;
    right: .1em !important;
    font-size: 1em !important;
    margin-left: 50px !important;
    padding: 1em !important;
    btn-close-color: #3366ff !important;
}


pre code {
    color: Orange !important;
    background-color: rgba(10,0,0,.5) !important;
}


.btn, .btn-secondary {
    box-shadow: none !important;
    background-color: $body-bg !important;
    color: rgba(255, 255, 255, 0.75) !important;
    margin: 0 !important;
    border: none !important;
    --bs-btn-disabled-opacity: 0.35 !important;

}


.btn-group {
    background-color: $body-bg !important;
    border: none !important;
    color: rgba(255, 255, 255, 0.75);
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.05) !important;
}

.flex-col-tainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-content: center;
    gap: 2vh !important;
    color: $body-color !important;
    max-width: 70vh;
}


.code-fold {
    background-color: transparent !important;
}

//controls the code background in code-fold after dropping down
.sourceCode, .R, .r {
    background-color: rgba(0,0,5,.25) !important;
    //box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(150, 150, 150, 0.1) !important;
    //opacity: 0.80 !important;
    border: none !important;
   // margin-block: 1em !important;
   // border-width: 0px !important;
  //  background-color: #282c2f !important;
    //box-shadow: 8px 8px 40px rgba(0, 0, 0, 0.15), inset 1px 1px 3px rgba(255, 255, 255, 0.05), inset -5px -5px 20px rgba(0, 0, 0, 0.05) !important;
}


.cell-code, .cell {
    background-color: transparent !important;
    padding: .50em !important;
}

::marker {
    color: #5E860F !important;
    font-size: 1em !important;
  //  font: icon !important;
    font-optical-sizing: auto !important;
}

details>summary {
    color: #6D9224 !important;
    font: 1.5em "merriweather" !important;
    background-color: transparent;
    align-content: justify-content;
    font-optical-sizing: auto;
}


.flex-code {
    overflow-y: auto;
    align-self: center;
    max-height: 70vh; 
    max-width: 100vw;
    overflow-x: hidden;
    scrollbar-width: thin; //5900b3 //d9b3ff
    scrollbar-color: #33ccff transparent;
    background-color: transparent !important;
}

.modal-content{
  background-color: transparent !important;
  margin: .5em !important;
  align-self: center !important;
  block-size: fit-content !important;
  width: fit-content !important;
  border: none !important;
  box-shadow: none !important;
}

/*
.btn {
    --bs-btn-padding-x: 1.5rem;
    --bs-btn-padding-y: 1rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 600;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: white;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 0;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 50rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.4);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    -ms-text-decoration: none;
    -o-text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    box-shadow: var(--bs-btn-box-shadow);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
} 
*/